<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<div class="container">

    <div class="d-flex flex-row-reverse bd-highlight mb-2">
        <div class="p-2 bd-highlight">
            <select (change)="onTableSizeChange($event)" class="custom-select">
                <option *ngFor="let tableSize of tableSizes" [value]="tableSize">
                    {{ tableSize }}
                </option>
            </select>
        </div>
    </div>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th></th>
                <th>Id</th>
                <th>Fname</th>
                <th>Surname</th>
                <th>City</th>
                <th>Country</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers | paginate: { 
                    itemsPerPage: tableSize,
                    currentPage: pageNumber,
                    totalItems: totalElements }">
                <td class="align-middle"><img src="{{ customer.image }}" height="50"></td>
                <td class="align-middle">{{ customer.id }}</td>
                <td class="align-middle">{{ customer.firstName }}</td>
                <td class="align-middle">{{ customer.lastName }}</td>
                <td class="align-middle">{{ customer.city }}</td>
                <td class="align-middle">{{ customer.country }}</td>
                <td class="align-middle">
                    <span>
                        <button type="button" class="btn btn-outline-dark btn-sm custom-round">
                            <i class="fa fa-pencil" aria-hidden="true"></i>
                        </button>
                        <span class="mx-1">
                            <button type="button" class="btn btn-outline-danger btn-sm custom-round">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </button>
                        </span>
                    </span>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <pagination-controls (pageChange)="pageChanged($event)">
        </pagination-controls>
    </div>
    
</div>