<div class="container">

    <div class="d-flex flex-row-reverse bd-highlight mb-2">
        <div class="p-2 bd-highlight">
          <select (change)="onTableSizeChange($event)" class="custom-select">
            <option *ngFor="let tableSize of tableSizes" [value]="tableSize">
              {{ tableSize }}
            </option>
          </select>
        </div>
      </div>

    <table class="table table-hover">
        <thead class="table-dark">
            <tr>
                <th>Image</th>
                <th>Id</th>
                <th>Lname</th>
                <th>Sname</th>
                <th>City</th>
                <th>Country</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let customer of customers | paginate: { 
                    itemsPerPage: tableSize,
                    currentPage: pageNumber,
                    totalItems: totalElements }">
                <td class="align-middle"><img src="{{ customer.image }}" height="50"></td>
                <td class="align-middle">{{ customer.id }}</td>
                <td class="align-middle">{{ customer.firstName }}</td>
                <td class="align-middle">{{ customer.lastName }}</td>
                <td class="align-middle">{{ customer.city }}</td>
                <td class="align-middle">{{ customer.country }}</td>
            </tr>
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
        <pagination-controls 
            (pageChange)="pageChanged($event)">
        </pagination-controls>
      </div>
</div>

